@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Roboto:wght@700&display=swap');

html {
  --clr-neutral-100: #eceff4;
  --clr-neutral-200: #e5e9f0;
  --clr-neutral-300: #d8dee9;
  --clr-neutral-600: #4c566a;
  --clr-neutral-700: #434c5e;
  --clr-neutral-800: #3b4252;
  --clr-neutral-900: #2e3440;
  --clr-neutral-950: hsl(220, 16%, 22%, 0.8);

  --clr-accent-blue-100: hsl(179, 25%, 65%);
  --clr-accent-blue-150: hsl(179, 25%, 45%);
  --clr-accent-blue-200: hsl(193, 43%, 67%);
  --clr-accent-blue-250: hsl(193, 43%, 47%);
  --clr-accent-blue-300: hsl(210, 34%, 63%);
  --clr-accent-blue-350: hsl(210, 34%, 43%);
  --clr-accent-blue-400: hsl(213, 32%, 52%);
  --clr-accent-blue-450: hsl(213, 32%, 32%);

  --clr-accent-red-100: hsl(354, 42%, 56%, 0.8);
  --clr-accent-red-150: hsl(354, 42%, 36%, 0.8);
  --clr-accent-orange-100: hsl(14, 51%, 63%, 0.8);
  --clr-accent-orange-150: hsl(14, 51%, 43%, 0.8);
  --clr-accent-yellow-100: hsl(40, 71%, 73%, 0.8);
  --clr-accent-yellow-150: hsl(40, 71%, 53%, 0.8);
  --clr-accent-green-100: hsl(92, 28%, 65%, 0.8);
  --clr-accent-green-150: hsl(92, 28%, 45%, 0.8);
  --clr-accent-pink-100: hsl(311, 20%, 63%, 0.8);
  --clr-accent-pink-150: hsl(311, 20%, 43%, 0.8);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-600);
}

h1 {
  line-height: 1.1;
}

.btn {
  color: var(--accent, var(--clr-neutral-300));
  background-color: var(--clr-neutral-700);

  font-size: 1.25rem;

  border-radius: 0.5rem;
  border: 0.125rem solid var(--accent, var(--clr-neutral-300));
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
}

.grid {
  width: min(90%, 40rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-inline: auto;
}

.grid > div {
  position: relative;
  aspect-ratio: 1 / 1;

  font-family: 'Fira Mono', monospace;
  font-size: clamp(1.25rem, 5vw, 2rem);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--bg, var(--clr-neutral-600));
  color: var(--fg);
  border: min(1vw, 0.375rem) solid var(--bc, var(--fg));
  border-radius: 0.5rem;
  margin: 0.125rem;
}

.grid > .zero {
  color: var(--clr-neutral-900);
  z-index: -2;
}

.grid > .zero::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-900);
  z-index: -1;
}

.grid > .new {
  animation: fadein 0.4s ease-in-out;  
}

.grid > .two {
  --fg: var(--clr-accent-blue-100);
  --bg: var(--clr-neutral-700);
}
.grid > .four {
  --fg: var(--clr-accent-blue-100);
  --bg: var(--clr-neutral-700);
  --bc: var(--clr-accent-blue-150);
}
.grid > .eight {
  --fg: var(--clr-accent-yellow-100);
  --bg: var(--clr-neutral-700);
}
.grid > .sixteen {
  --fg: var(--clr-accent-yellow-100);
  --bg: var(--clr-neutral-700);
  --bc: var(--clr-accent-yellow-150);
}
.grid > .thirty-two {
  --fg: var(--clr-accent-pink-100);
  --bg: var(--clr-neutral-700);
}
.grid > .sixty-four {
  --fg: var(--clr-accent-pink-100);
  --bg: var(--clr-neutral-700);
  --bc: var(--clr-accent-pink-150);
}
.grid > .one-twenty-eight {
  --fg: var(--clr-accent-orange-100);
  --bg: var(--clr-neutral-700);
}
.grid > .two-fifty-six {
  --fg: var(--clr-accent-orange-100);
  --bg: var(--clr-neutral-700);
  --bc: var(--clr-accent-orange-150);
}
.grid > .five-twelve {
  --fg: var(--clr-accent-green-100);
  --bg: var(--clr-neutral-700);
}
.grid > .ten-twenty-four {
  --fg: var(--clr-accent-green-100);
  --bg: var(--clr-neutral-700);
  --bc: var(--clr-accent-green-150);
}
.grid > .twenty-forty-eight {
  --fg: var(--clr-accent-blue-400);
  --bg: var(--clr-neutral-300);
}
.grid > .forty-ninety-six {
  --fg: var(--clr-accent-blue-400);
  --bg: var(--clr-neutral-300);
  --bc: var(--clr-accent-blue-450);
}

.end-game {
  --accent: var(--clr-accent-yellow-100);

  position: absolute;
  inset: 5%;
  color: var(--clr-accent-neutral-300);
  background-color: var(--clr-neutral-950);
  border-radius: 0.5rem;

  display: none;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

.number-large {
  color: var(--clr-accent-yellow-100);
  font-size: clamp(2rem, 7vw, 3rem);
}

.scores-list {
  columns: 2;
  column-gap: 3rem;
  color: var(--clr-neutral-300);
  padding: 0;
  margin: 0;
}

.scores-list > li::marker {
  color: var(--clr-accent-blue-100);  
}

.left-swipe {
  animation: left-swipe 0.2s ease-in-out;
}
.right-swipe {
  animation: right-swipe 0.2s ease-in-out;
}
.up-swipe {
  animation: up-swipe 0.2s ease-in-out;
}
.down-swipe {
  animation: down-swipe 0.2s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes left-swipe {
  from {
    transform: translateX(2vw);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes right-swipe {
  from {
    transform: translateX(-2vw);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes up-swipe {
  from {
    transform: translateY(2vw);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes down-swipe {
  from {
    transform: translateY(-2vw);
  }

  to {
    transform: translateX(0);
  }
}